<div class="container-fluid">
  <h1>New Knife</h1>
</div><hr>

<div class="container-fluid">
  <div style="width:18rem">
    <%= form_with url: "/knives", method: "post", local: true do |f| %>
      <div class="mb-3">
        <h3>Customer</h3>
      </div>
      <div class="mb-3">
        <%= f.label "Name", class: "form-label" %>
        <%= f.text_field :customer_name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <h3>Materials</h3>
      </div>
      <div class="mb-3">
        <%= f.label "Blade", class: "form-label" %>
        <%= f.text_field :blade, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label "Handle", class: "form-label" %>
        <%= f.text_field :handle, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label "Pins", class: "form-label" %>
        <%= f.text_field :pins, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label "Guard", class: "form-label" %>
        <%= f.text_field :guard, class: "form-control" %>
      </div>
        <%= f.label "Finish", class: "form-label" %>
        <%= f.text_field :finish, class: "form-control" %>
      <div class="mb-3">
        <h3>Process</h3>
      </div>
      <div class="mb-3">
      <%= f.select(:process, options_for_select([
        ["Forging", "Forging"],
        ["Normalize", "Normalize"],
        ["Thermals", "Thermals"],
        ["Annealing", "Annealing"],
        ["Rough Grind", "Rough Grind"],
        ["Hardening", "Hardening"],
        ["Tempering", "Tempering"],
        ["Final Grind", "Final Grind"],
        ["Etching", "Etching"],
        ["Finished", "Finished"]
        ], "Forging"), {}, { class: "form-select form-select-sm mb-3" }) %>
      </div>
      <div class="mb-3">
        <h3>Sheath</h3>
      </div>
      <div class="mb-3">
        <%= f.text_field :sheath, class: "form-control" %>
      </div>
      <div class="mb-3">
        <h3>Attach Images</h3>
      </div>
      <div class="mb-3">
        <%= f.file_field :images, multiple: true, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= link_to "Cancel", "/knives", method: :get, class: "btn btn-danger"%>
</div>

