<div>
  <h1>Knife <%= @knife.id %></h1>
</div>
<%= button_to "Edit ðŸ“", "/knives/#{@knife.id}/edit", method: :get %>

<div style="float:right">
  <% @knife.images.each do |img| %>
  <div>
    <%= image_tag img, style: "width: 500px; display: block", alt: "image of knife" %>  
  </div>
  <% end %>
</div>

<div>
  <h3>Customer</h3>
  <p><%= @knife.customer_name %></p>
</div>

<div>
  <h3>Materials</h3>
  <p>Blade: <%= @knife.blade %></p>
  <p>Handle: <%= @knife.handle %></p>
  <p>Pins: <%= @knife.pins %></p>
  <p>Guard: <%= @knife.guard %></p>
  <p>Finish: <%= @knife.finish %></p>
</div>

<div>
  <h3>Process</h3>
  <p><%= @knife.process %></p>
</div>

<div>
  <h3>Sheath</h3>
  <p><%= @knife.sheath %></p>
</div>

<div>
  <h3>Timestamps</h3>
  <p>Created: <%= @knife.created_at.strftime('%b %e, %Y at %T %Z') %></p>
  <p>Updated: <%= @knife.updated_at.strftime('%b %e, %Y at %T %Z') %></p>
</div>

<%= button_to "Delete this knife", "/knives/#{@knife.id}", method: :delete %>